{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Learn Software, Networking, Testing & Cloud courses | Online & Offline</title>
		<meta name="description" content="SCOPE India provides Courses for Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning), Java, PHP, .Net, Software Testing, Cloud AWS, Azure, MCSE, RHCE and Digital Marketing" />
		<meta name="author" content="SUFFIX E SOLUTIONS" />
		<meta name="keywords" content="professional courses in Trivandrum, data science training, AI certification, Microsoft Power BI course, advanced IT skills, Power BI course, learn Power BI, learn data analysis, course on Power BI, data analytic course, data analytics with Power BI course, data science course near me with placement, data science complete course, artificial intelligence certification, AI certificate programs, learn to be a data scientist, AI ML certification, AI certificate course, best AI certification, data science training near me, best AI ML certification, data analyst and data scientist course, best analytics course, be in data science, artificial intelligence certification training, advanced IT courses for professionals, top IT training institute in Trivandrum, best IT training in Kochi, IT training institute Nagercoil">
		<!-- Mobile Specific Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	    <link rel="icon" type="image/x-icon" href="images/scopeindia-bird-logo-icon.ico">
		<link rel="canonical" href="https://scopeindia.org/index.html" />
		<link rel="alternate" hreflang="en" href="https://scopeindia.org/index.html" />
	    <link  rel="stylesheet" href="{% static 'Css/home.css' %}"/>
        <link rel="stylesheet" href="{% static 'Css/index.css' %}" />
	    <script src="{%static 'js/main.js'%}" type="text/javascript"></script>
	    <script src="{%static 'js/home.js'%}" type="text/javascript"></script>
	</head>
	<body>

		<!-- ================== overlay start =============== -->

		<section id="call_back_overlay" >
			<div id="container_call_back">
				<span class="close_button_overlay">X</span>
				<!-- <div id="float_buttons">
					<a class="red_button" href="tel:+919745936073" title="Call SCOPE INDIA in just a click!">Click to Call Us</a>
					<a class="red_button whatsapp" href="https://wa.me/+919745936073" target="_blank" title="Talk to our student care team on WhatsApp!">Chat on WhatsApp</a>
					<a class="red_button" href="#" target="_blank" title="Find you are fit for coding in 5 minutes!">Free Coding Test</a>
					<a class="red_button" href="#" target="_blank" title="Register for courses at SCOPE INDIA!">Register Now!</a>
				</div> -->
				<div id="call_back_form">
					<h3>Grab a Job Today!</h3>
					<p>
						Center for Software, Networking, & Cloud Education
					</p>
					<h4>Get a Free Callback</h4>
					<form id="call_back_form_overlay" action="#">
						<span id="callback_message"></span>
						<label for="call_back_visitor_name">Your Name:</label>
						<input type="text" name="callback_name" id="call_back_visitor_name" required pattern="^[A-Za-z\s]+$" placeholder="Enter your name!" />
						<span id="name_error" class="error-message"></span>
						<label for="call_back_visitor_phone">Your Phone:</label>
						<input type="tel" name="callback_contact" id="call_back_visitor_phone" required pattern="^\+?[0-9]{1,4}?[-.\s]?[0-9]{1,15}$" placeholder="Enter your phone!" />
						<span id="phone_error" class="error-message"></span>
						<button id="callback_button" type="submit">Call Me</button>
						<br>
						<p>OR</p>
						<a href="tel:+919745936073" title="click to call">
							<button id="callback_button1" type="button">Click to Call</button>
						</a>
					</form>	
						<!-- <h4>Get Certificate If Your'e Fit </h4>
						<a href="">
							<button id="callback_button2">Free Coding Test !</button>
						</a> -->
				</div>
			</div>
		</section>

		<!-- ================= overlay end ================= -->
		<div id="up_button" onclick="scrollToTop()">
			<svg width="24"  fill="currentColor" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
			</svg>
		</div>
		<div id="call_float_icons">
			<a href="tel:+919745936073" title="Call SCOPE INDIA in just a click!">
				<img src="{%static 'images/callnow-scope-india.webp'%}" alt="Call SCOPE INDIA" />
			</a>
			<a href="https://wa.me/+919745936073" target="_blank" title="Talk to our student care team on WhatsApp!">
				<img src="{%static 'images/whatsapp-scope-india.webp'%}" alt="Call SCOPE INDIA" />
			</a>
			<a href="image-gallery-scope-india.html" title="Watch SCOPE INDIA through photos and videos!">
				<img src="{%static 'images/gallery-scope-india.webp'%}" alt="SCOPE INDIA Gallery" />
			</a>
			<!-- <img id="mobile_menu_button" src="images/mobile-menu-icon-scopeindia.webp" alt="Main Menu" title="Click for the site Menu!" width="50px"> -->
			<svg id="mobile_menu_button" xmlns="http://www.w3.org/2000/svg"  fill="#fff" class="bi bi-list" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
			  </svg>
		</div>
		<section id="container_header">
			<div>
				<div id="container_logo">
					<a href="home" target="_self" class="current"><img id="logo" src="{%static 'images\scopeindia-logo1.webp'%}" alt="SCOPE INDIA logo" title="SCOPE INDIA, Center for Software, Networking, and Cloud education from Kerala and Tamil Nadu" /></a>
				</div>
				<div id="container_google_star">
					<a href="faq">
						<img id="google_star" src="{%static 'images/google-rating-scope-india.webp'%}" alt="google-rating-scope-india" width="200px" title="SCOPE INDIA is a 5 star rated institute">
					</a>
				</div>
			</div>
			<div style="clear:both"></div>
			<nav id="main_navigation">
				<ul class="desktop">
					<li><a href="home" target="_self" class="current">HOME</a></li>
					<li><a href="courses" target="_self">COURSES</a></li>
					<li><a class="registration_link" href="register" target="_self">REGISTRATION</a></li>
					<li><a href="about" target="_self">ABOUT US</a></li>
					<li><a href="faq" target="_self">FAQ</a></li>
					<!-- <li><a href="aces-scope-india.html" target="_self">OUR ACES</a></li> -->
					{% if request.session.user_id %}
    <li><a href="{% url 'profile' %}" target="_self">PROFILE</a></li>
    <li><a href="{% url 'logout' %}" target="_self">LOGOUT</a></li>
{% else %}
    <li><a href="{% url 'login' %}" target="_self">LOGIN</a></li>
{% endif %}
					<li><a href="contact" target="_self">CONTACT US</a></li>
				</ul>
				<span id="mobile-icon">
				<ul class="mobile" id="mobile_menu">
					<li style="	text-align: right;"><span class="close_button">X</span></li>
					<li><a href="home.html" target="_self" class="current">HOME</a></li>
					<li><a href="courses-scope-india.html" target="_self">COURSES</a></li>
					<li><a class="registration_link" href="register" target="_self">REGISTRATION</a></li>
					<li><a href="about" target="_self">ABOUT US</a></li>
					<li><a href="faq" target="_self">FAQ</a></li>
					<!-- <li><a href="aces-scope-india.html" target="_self">OUR ACES</a></li> -->
					<li><a href="faq" target="_self">REVIEWS</a></li>
					<li><a href="contact" target="_self">CONTACT US</a></li>
				</ul>
				<!-- onclick="show_mobile_menu()"  -->
				<!-- <img id="mobile_menu_button" src="images/mobile-menu-icon-scopeindia.webp" alt="Main Menu" title="Click for the site Menu!" width="50px"> -->
			</span>
			</nav>
		</section>
		<div style="clear: both;"></div>
		<section id="container_page_intro">
			<div>
				<div id="container_google_star1">
					<a href="faq">
						<img id="google_star" src="{%static 'images/google-rating-scope-india.webp'%}" alt="google-rating-scope-india" title="SCOPE INDIA is a 5 star rated institute">
					</a>
					<br />
				</div>
				<h1>Your career partner!</h1>
				<h2>Center for Software, Networking, & Cloud Education</h2>
				<h3>One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience.</h3>
				<!-- <img src="ads/scope-india-it-training-placements-online-offline-classes-4.webp" /> -->
			</div>
		</section>
		<div style="clear:both;"></div>
		<!-- <section id="container_right_float_items">
			<span class="close_button_float_box">X</span>
			<div id="float_buttons">
				<a class="red_button" href="tel:+919745936073" title="Call SCOPE INDIA in just a click!">Click to Call Us</a>
				<a class="red_button whatsapp" href="https://wa.me/+919745936073" target="_blank" title="Talk to our student care team on WhatsApp!">Chat on WhatsApp</a>
				<a class="red_button" href="#" target="_blank" title="Find you are fit for coding in 5 minutes!">Free Coding Test</a>
				<a class="red_button" href="#" target="_blank" title="Register for courses at SCOPE INDIA!">Register Now!</a>
			</div>
			<div id="call_back_form">
				<h4 id="callback_title"> &gt; Get a Free Callback</h4>
				<form id="call_back_form_set" action="#" >
					<span id="callback_message">...</span>
					<input type="text" name="callback_name" id="callback_name" placeholder="Enter your name!" />
					<input type="tel" name="callback_contact" id="callback_contact" placeholder="Enter your phone!" />
					<input id="callback_button" type="button" value="Call Me" />
				</form>
			</div>
		</section> -->
		<div style="clear:both;"></div>

        <section>
            <div id="home_about_contents">
				
				<div class="parent">
					<h2>Dreaming about a career in IT</h2>
					<div class="main_div">
						<div class="home_about_contents_left">
                    
							<p>Spearheaded by the working professionals of Suffix E Solutions in flexible learning mode, we provide quality training with 100% placement support.</p>
							<p>We provide comprehensive courses in:</p>
							<div>
								<ul>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										  </svg>
										Software Programming
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										  </svg>
										DevOps
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										  </svg>
										Data Science & AI
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										</svg>
										Software Testing
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										</svg>
										Data Analytics
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										</svg>
										Server Administration
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										</svg>
										Cloud Computing
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										</svg>
										NetWorking
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										</svg>
										Mobile App Development
									</li>
									<li>
										<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
											<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
										</svg>
										Digital Marketing
									</li>
								</ul>
							</div>      
						</div>
						<div class="home_about_contents_right">
							<div>
								<h3>Classes</h3>
								<p>Learn Anywhere, Anytime - Online & in-Person Classes Available!</p>
							</div>
							<div>
								<h3>Placement</h3>
								<p>Guaranteed Success -100% Placement Support </p>
							</div>
							<div>
								<h3>Training</h3>
								<p>Training by Working Professionals of Suffix E Solutions</p>
							</div>
							<div>
								<h3>Internship</h3>
								<p>OJT (On the Job Training) under Suffix E Solutions after course completion with experience certificate</p>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="icon_image">
					<img src="images/scope-india-iso-certified.webp" alt="scope-india-iso-certified-image" width="350px" height="100px"/>
					<div></div>
					<div>
						<strong>ISO 9001:2015 Certified</strong>
						<p>Quality management system</p>
					</div>
				</div> -->
            </div>
        </section>

		<section id="placement_Highlights">
			<div class="parent">
				<div>
					<h2>Placement Highlights</h2>
					<div class="Highlights">
						<div><span>100%</span><p>Placement Assistance</p></div>
						<div><span>1000+</span><p>Students are Getting
							Placed Every Year</p></div>
						<div><span>500+</span><p>
							Partner Companies</p></div>
					</div>
				</div>
			</div>
		</section>

		<section id="section_ai"> 
			<div class="parent">
				<h2>Match the Pace of Artificial Intelligence</h2>
				<h3>
					Study AI From SCOPE INDIA
				</h3>
				<div class="main_div">
					<div class="image_content">
						<a href="data-science-ai-course.html">
							<div class="robot">
								<img src="{%static 'images/robo-scope-site.webp'%}" alt="">
							</div>
						</a>
						<a href="data-science-ai-course.html">
							<img src="ads/data-science-ai-course-scopeindia.webp" alt="courses-scope-india">
						</a>
					</div>
					<div class="road_map">
						
						<ul>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Python 3.12
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								SQL
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Pandas
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								NumPy
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Matplotlib and Seaborn
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Tableau
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Excel & Power BI
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Django & REST Services
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Machine Learning
							</li>	
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Deep Learning & AI
							</li>	
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								English Language Training
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Live Projects
							</li>	
						</ul>
					</div>
				</div>
				<p>
					Harness the capabilities of machine learning, deep learning, natural language processing and uncover hidden patterns, optimize processes, and drive smarter decision-making.
				</p>
			</div>
		</section>

		<section id="section_fullstack">
			<div class="parent">
				<h2>Become a Full Stack Developer</h2>
				<div class="main_div">
					<div class="road_map">
						<h3>
							Your pathway includes
						</h3>
						<ul>
							<li>
								<span>1</span>
								<div>
									<h4>Foundation </h4>
									<p>
										Programming Fundamentals, SQL
									</p>
								</div>
							</li>
							<li>
								<span>2</span>
								<div>
									<h4>Front End </h4>
									<p>
										HTML, CSS, JavaScript, jQuery, Bootstrap, React JS
									</p>
								</div>
							</li>
							<li>
								<span>3</span>
								<div>
									<h4>Back End </h4>
									<p>
										<!-- Java, MERN, MEAN, ASP.NET, PHP, Python -->
										 Python / Java / ASP.NET / PHP / JavaScript
									</p>
								</div>
							</li>
						</ul>
						<!-- <p>Our Four month course on Full Stack Development with job oriented training at Suffix E Solutions will make you job ready to explore the world of IT</p> -->
					</div>
					<div>
						<a href="courses-scope-india.html">
							<img src="ads/full-stack-course-scopeindia.webp" alt="courses-scope-india">
						</a>
					</div>
				</div>
			</div>
		</section>

		<section id="testing_section">
			<div class="parent">
				<h2><span>No Coding </span>Prowess?<span class="testing_span_h2"> Not a Problem</span> </h2>
				<div class="main_div">
					<div>
						<a href="software-testing-manual-automation-advanced-internship-course.html">
							<img src="ads/software-testing-course-scopeindia.webp" alt="">
						</a>
					</div>
					<div class="testing_content">
						<h4>Software Testing is the Gateway to Your IT Career</h4>
						<ul>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Manual Testing
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Automation Testing
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Practical Sessions
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Theoretical Sessions
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Flexible Schedules
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								On Job Training
							</li>
						</ul>
						
					</div>
				</div>
				<p class="text_content">
					Start your tech journey today with <span>SCOPE INDIA</span> and make your mark in the IT industry!
				</p>
			</div>
				<!-- <svg class="wave" viewBox="0 0 1440 200" >
					<path fill="#fff" fill-opacity="1" d="M0,128L48,144C96,160,192,192,288,186.7C384,181,480,139,576,138.7C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
				</svg> -->
		</section>
		<!-- <img src="/scope/ads/data-science-cloud-courses-scopeindia.jpg" alt=""> -->
		<section id="devops_section">
			<div class="parent">
				<h2>Career with DevOps</h2>
				<div class="main_div">
					<div class="left_content">
						<h4>Master DevOps From SCOPE INDIA</h4>
						<ul>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Build Applications
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Deploy Applications
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Automate Workflows
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Hands-on Experience
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Popular Tools
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Cloud Infrastructure
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Cloud Management
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Deployement Strategies
							</li>
						</ul>
					</div>
					<div>
						<a href="devops-certification-internship-course.html">
							<img src="ads/devops-course-scope-india.webp" alt="devops-course-scope-india">
						</a>
					</div>
				</div>
			</div>
		</section>

		<section id="section_power">
			<div class="parent">
				<h2>Match the Pace of Business Intelligence	</h2>
				<div class="main_div">
					<div>
						<a href="microsoft-powerbi-course.html">
							<img src="ads/power-bi-course-scopeindia.webp" alt="power-bi-course-scopeindia">
						</a>
					</div>
					<div class="right_content">
						<h4>Study Power BI From SCOPE INDIA</h4>
						<ul>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Transform Raw Data
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Interactive Dashboards
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Hands-on Training
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								  Real-World Scenarios
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								Flexible Schedules
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							  	</svg>
								On Job Training
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section id="section_mission_vision">
			<div class="parent">
				<h2>Our Mission & Vision </h2>
				<div class="main_div">
					<div class="left_content">
						<div class="content">
							<div class="svg_div">
								<svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
								  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
								</svg>
							</div>
							<h4>Our Mission</h4>
							<p>To empower individuals with cutting-edge technical skills and knowledge, fostering innovation and excellence in the IT industry through comprehensive training and education programs.</p>
							<ul>
								<li>
									<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
										<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
									  </svg>
									  Industry-aligned curriculum
								</li>
								<li>
									<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
										<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
									  </svg>
									Practical skill development
								</li>
								<li>
									<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
										<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
									  </svg>
									Career-focused training
								</li>
							</ul>
						</div>
						
					</div>
					<div class="right_content">
						<div class="content">
							<div class="svg_div">
								<svg  fill="none" stroke="currentColor" viewBox="0 0 24 24">
								  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
								</svg>
							</div>
							<h4>Our Vision</h4>
							<p>
								To be the leading technical education provider, recognized who drive innovation and technological advancement in the digital age.
							</p>
							<ul>
								<li>
									<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
										<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
									  </svg>
									Global recognition
								</li>
								<li>
									<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
										<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
									  </svg>
									Innovation leadership
								</li>
								<li>
									<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
										<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
									  </svg>
									Technology excellence
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer id="container_footer">
			<p>We are located at Technopark&nbsp;TVM | Thampanoor&nbsp;TVM | Kochi,&nbsp;Kerala | Nagercoil,&nbsp;Tamil&nbsp;Nadu</p>
			<p><a href="tel:+919745936073" title="Call SCOPE INDIA Technopark, Trivandrum, Kerala 09745936073">9745936073&nbsp;(TPK)</a>
				<a href="tel:+919745936073" title="Call SCOPE INDIA Trivandrum, Kerala 09745936073">9745936073&nbsp;(TVM)</a>
				<a href="tel:+917592939481" title="Call SCOPE INDIA Kochi, Kerala 07592939481">7592939481&nbsp;(EKM)</a>
				<a href="tel:+918075536185" title="Call SCOPE INDIA Nagercoil, Kerala 08075536185">8075536185&nbsp;(NGL)</a>
				<a href="mailto:info@scopeindia.org?subject=I want to know more about courses" title="Email SCOPE INDIA">info@scopeindia.org</a>
			</p>
			<p class="footer_line">
                All Rights Reserved 
                <a href="https://www.suffixesolutions.com/" title="Suffix E Solutions, a trusted IT Partner, the parent company of SCOPE INDIA" target="_blank">
                    Suffix&nbsp;E&nbsp;Solutions
                </a>
                &copy;&nbsp;2007-2025
                <span>|</span>
                <a href="privacy-policy.html" title="SCOPE INDIA Privacy Policy">
                    Privacy Policy
                </a>
				<span>|</span>
                <a href="#" title="SCOPE INDIA Privacy Policy">
                    Blog
                </a>
            </p>
		</footer>
	</body>
</html>
